<html>

  <head>
    <meta charset="utf-8" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header class="hero">
        <h1 class="app-title">The Tech Blog</h1>
      </header>

      <main>
        {{{body}}}
      </main>
    </div>

  </body>

</html>