<div class="logincard">
  <form class="login-form">
    <div>
      <label class="card-header" for="username-login">username:</label>
      <input type="text" id="username-login" />
    </div>
    <div>
      <label class="card-header" for="password-login">password:</label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button type="submit">login</button>
      <a href="/signup">Or signup</a>
    </div>
  </form>

</div>

<script src="/javascript/login.js"></script>